<!DOCTYPE html> 
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GrowHub</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>

  <video autoplay muted loop playsinline class="bg-video">
  <source src="../assets/4763825-uhd_3840_2160_24fps.mp4" type="video/mp4  ">
</video>

  <header class="header">
    <div class="nav-container">
      
      <a href="#" class="logo">GrowHub</a>

      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Funcionalidades</a>
        <a href="#">Sobre</a>
        <a href="#" class="btn-cadastro">Cadastrar</a>
        <a href="#" class="btn-login">Entrar</a>
      </nav>
    </div>
  </header>

<div class="home-container">
  <section id="home">
    <div class="content">
      <h3>Transforme seu foco. <br>Alcance sua melhor versão</h3>
      <p>Construa uma rotina inteligente e alcance seus
        <br> objetivos com ferramentas que simplificam sua 
        <br> organização e potencializam sua performance.</p>
      <a href="#" class="btn">Começar Agora</a>
    </div>
  </section>
</div>

<section class="Funcionalidades" id="Funcionalidades">
 
  <video autoplay muted loop playsinline class="bg-video">
  <source src="../assets/4763825-uhd_3840_2160_24fps.mp4" type="video/mp4  ">
</video>

  <h2  class="title"> Funcionalidades do <span>GrowHub</span></h2>

  <div class="box-container">

    <div class="box">
      <h4>Gestão de Estudos</h4>
      <p>Planeje matérias, revise conteúdos e acompanhe seu progresso diário.</p>
    </div>
  </div>

      <div class="box">
      <h4>Organização de Treinos</h4>
      <p>Monte treinos personalizados e acompanhe evolução de performance.</p>
    </div>
  </div>

      <div class="box">
      <h4>Leituras e Anotações</h4>
      <p>Salve livros, organize resumos e monte seu histórico de leitura.</p>
    </div>
  </div>

      <div class="box">
      <h4>Hábitos & Rotina</h4>
      <p>Crie hábitos, defina metas e receba lembretes inteligentes.</p>
    </div>
  </div>

      <div class="box">
      <h4>isualize compromissos, prioridades e metas em uma única tela.isualize compromissos, prioridades e metas em uma única tela.</h4>
      <p>Visualize compromissos, prioridades e metas em uma única tela.</p>
    </div>
  </div>



</div>
</body>
</html>
