<!DOCTYPE html> 
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GrowHub</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>

  <header class="header">
    <div class="nav-container">
      <a href="#" class="logo">GrowHub</a>

      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Funcionalidades</a>
        <a href="#">Sobre</a>
        <a href="#">Inscrever-se</a>
        <a href="#" class="btn-entrar">Entrar</a>
      </nav>
    </div>
  </header>

</body>
</html>
